body {
    background-color: $bgcolor;
}

.purple {
    background-color: $purple;
}

.grey{
    background-color: $boxcolor;
  }

.nav__style {
    color: $black;
    transition: color 0.6s ease;
    &:hover {
        color: $white;
    }
}

.background__sumate {
    @include bgimage(url(../images/snatch.jpg))
  }
  
  .background__contacto {
    @include bgimage(url(../images/mybox.jpg), 100vh)
  }

.wod__box {
    transition: box-shadow 0.3s ease;
    &:hover {
        box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.4);
    }
  }